doctype html
html(lang="lang")
  head
    meta(charset="utf-8")
    title #{site.title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/themes/codejobs/stylesheets/style.css")
  body
    include theme/header

    include theme/right
    include theme/footer