.body
  header
    .container
      h1.logo
        a(href="href")
          img(alt="CodeJobs", src="/themes/codejobs/images/logo.png")
      .search
        form#searchForm.form-search(action="action", method="post")
          .control-group
            input#q.input-medium.search-query(type="text", name="term", placeholder="placeholder")
            button.search(type="submit")
              em.icon-search
      nav
        ul.nav.nav-pills.nav-top
          li
            a(href="href")
              em.icon-angle-right
          li
            a(href="href")
              em.icon-angle-right
          li.phone
            span
              em.icon-envelope
              a(href="mailto:info@codejobs.biz") info@codejobs.biz
      .social-icons
        ul.social-icons
          li.facebook
            a(href="http://www.facebook.com/codejobs", target="_blank", title="Facebook") Facebook
          li.twitter
            a(href="http://www.twitter.com/codejobs", target="_blank", title="Twitter") Twitter
          li.youtube
            a(href="http://www.youtube.com/codejobs", target="_blank", title="Youtube") Youtube
      nav
        ul#mainMenu.nav.nav-pills.nav-main
          li.dropdown
            a.dropdown-toggle(href="#")
              em.icon-angle-down
            ul.dropdown-menu
              li.dropdown-submenu
                a(href="blog/category/bases-de-datos") Bases de Datos
                ul.dropdown-menu
                  li
                    a(href="blog/category/access") Access
                  li
                    a(href="href") Data Mining
                  li
                    a(href="href") Data Warehouse
                  li.dropdown-submenu
                    a(href="href") DB2
                    ul.dropdown-menu
                      li
                        a(href="href") DB2 Express-C
                  li
                    a(href="href") Modelo Relacional
                  li
                    a(href="href") MySQL
                  li.dropdown-submenu
                    a(href="href") NoSQL
                    ul.dropdown-menu
                      li
                        a(href="href") CassandraDB
                      li
                        a(href="href") CouchDB
                      li
                        a(href="href") MongoDB
                  li
                    a(href="href")
                      | Oracle
                  li
                    a(href="href")
                      | PDO
                  li
                    a(href="href")
                      | PostgreSQL
                  li
                    a(href="href")
                      | SQLite
              li.dropdown-submenu
                a(href="href")
                  | Frameworks
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href="href")
                      | HTML5/CSS3
                    ul.dropdown-menu
                      li
                        a(href="href") 960gs
                      li
                        a(href="href") Foundation
                      li
                        a(href="href") Twitter Bootstrap
                  li.dropdown-submenu
                    a(href="href") Java
                    ul.dropdown-menu
                      li
                        a(href="href") Play Framework
                      li
                        a(href="href") Spring Framework
                  li.dropdown-submenu
                    a(href="href") JavaScript
                    ul.dropdown-menu
                      li
                        a(href="href") Angular.js
                      li
                        a(href="href") Backbone.js
                      li
                        a(href="href") CoffeeScript
                      li
                        a(href="href") Ember.js
                      li
                        a(href="href") jQuery
                      li
                        a(href="href") Knockout.js
                      li
                        a(href="href") Node.js
                      li
                        a(href="href") Three.js
                  li.dropdown-submenu
                    a(href="href")
                      | PHP
                    ul.dropdown-menu
                      li
                        a(href="href") CakePHP
                      li
                        a(href="href") CodeIgniter
                      li
                        a(href="href") Laravel
                      li
                        a(href="href") Yii
                      li
                        a(href="href") ZanPHP
                      li
                        a(href="href") Zend Framework
                  li.dropdown-submenu
                    a(href="href") Python
                    ul.dropdown-menu
                      li
                        a(href="href") Django
                      li
                        a(href="href") web2py
                  li.dropdown-submenu
                    a(href="href") Ruby
                    ul.dropdown-menu
                      li
                        a(href="href") Ruby on Rails
              li.dropdown-submenu
                a(href="href") Front End
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href="href") CSS
                    ul.dropdown-menu
                      li
                        a(href="href") CSS3
                      li
                        a(href="href") LessCSS
                      li
                        a(href="href") MoreCss
                      li
                        a(href="href") Responsive Web Design
                      li
                        a(href="href") Stylus
                  li.dropdown-submenu
                    a(href="href") HTML5
                    ul.dropdown-menu
                      li
                        a(href="href") Accesibilidad
                      li
                        a(href="href") Canvas
                      li
                        a(href="href") DOM
                      li
                        a(href="href") Juegos en HTML5
                       li
                        a(href="href") Geolocalización
                      li
                        a(href="href") Usabilidad
                  li.dropdown-submenu
                    a(href="href") Servicos Web
                    ul.dropdown-menu
                      li
                        a(href="href") Ajax
                      li
                        a(href="href") JSon
                      li
                        a(href="href") RESTFul
                      li
                        a(href="href") Soap
                      li
                        a(href="href") XML
                  li
                    a(href="href") XAML
              li.dropdown-submenu
                a(href="href") Inteligencia Artificial
                ul.dropdown-menu
                  li
                    a(href="href") Robótica
              li.dropdown-submenu
                a(title="Lenguajes de Programación", href="href") Lenguajes
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href="href") .NET
                    ul.dropdown-menu
                      li
                        a(href="href") ASP.NET
                      li
                        a(href="href") Visual Basic .NET
                      li
                        a(href="href") Visual C++ .NET
                  li
                    a(href="href") C/C++
                  li.dropdown-submenu
                    a(href="href") Dispositivos Móviles
                    ul.dropdown-menu
                      li
                        a(href="href") Android
                      li
                        a(href="href") iPad
                      li
                        a(href="href") iPhone
                      li
                        a(href="href") Objective-C
                  li.dropdown-submenu
                    a(href="href") Java
                    ul.dropdown-menu
                      li
                        a(href="href") Groovy
                      li
                        a(href="href") Scala
                  li
                    a(href="href") JavaScript
                  li.dropdown-submenu
                    a(href="#") Otros
                    ul.dropdown-menu
                      li
                        a(href="href") ActionScript
                      li
                        a(href="href") ASP
                      li
                        a(href="href") Bash
                      li
                        a(href="href") C#
                      li
                        a(href="href") Ensamblador
                  li
                    a(href="href") PHP
                  li
                    a(href="href") Python
                  li
                    a(href="href") Ruby
                  li.dropdown-submenu
                    a(href="href") SAP
                    ul.dropdown-menu
                      li
                        a(href="href") ABAP
                      li
                        a(href="href") BASIS
                      li
                        a(href="href") SAP ALV
              li.dropdown-submenu
                a(href="href") Programación
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href="href") Editores de Código
                    ul.dropdown-menu
                      li
                        a(href="href") Eclipse
                      li
                        a(href="href") Netbeans
                      li
                        a(href="href") Sublime Text
                  li.dropdown-submenu
                    a(href="href") Estructura de Datos
                    ul.dropdown-menu
                      li
                        a(href="href") Árboles binarios
                  li.dropdown-submenu
                    a(href="href") POO
                    ul.dropdown-menu
                      li
                        a(href="href") Clases
                      li
                        a(href="href") Clases abstractas
                      li
                        a(href="href") Encapsulamiento
                      li
                        a(href="href") Excepciones
                      li
                        a(href="href") Herencia
                      li
                        a(href="href") Interfaces
                      li
                        a(href="href") Objetos
                      li
                        a(href="href") Polimorfismo
              li.dropdown-submenu
                a(href="href") Seguridad
                ul.dropdown-menu
                  li
                    a(href="href") Auditorías Informáticas
                  li
                    a(href="href") Privacidad de la Información
                  li
                    a(href="href") Seguridad Informática
                    ul.dropdown-menu
                      li
                        a(href="href") Hackers
                      li
                        a(href="href") Virus
              li.dropdown-submenu
                a(href="href") Sistemas Operativos
                ul.dropdown-menu
                  li
                    a(href="href") Android
                  li
                    a(href="href") iOS
                  li
                    a(href="href") Linux
                    ul.dropdown-menu
                      li
                        a(href="href") Vim
                  li
                    a(href="href") Unix
                  li
                    a(href="href") Windows 8
              li.dropdown-submenu
                a(href="href") Software
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href="href") Calidad del Software
                    ul.dropdown-menu
                      li
                        a(href="href") Buenas prácticas
                        ul.dropdown-menu
                          li
                            a(href="href") Documentación de Código
                          li
                            a(href="href") Estándares de codificación
                      li
                        a(href="href") CMMI
                      li
                        a(href="href") ITIL
                      li
                        a(href="href") QA
                      li
                        a(href="href") Testing
                  li.dropdown-submenu
                    a(href="href") Control de Versiones
                    ul.dropdown-menu
                      li
                        a(href="href") Git &amp; Github
                      li
                        a(href="href") Mercurial
                      li
                        a(href="href") Perforce
                      li
                        a(href="href") Subversion
                  li
                    a(href="href") CRM
                  li.dropdown-submenu
                    a(href="href") Metodologías Ágiles
                    ul.dropdown-menu
                      li
                        a(href="href") Programación Extrema (XP)
                      li
                        a(href="href") Scrum
                  li
                    a(href="href") ERP
                  li.dropdown-submenu
                    a(href="href") Ingeniería de Software
                    ul.dropdown-menu
                      li
                        a(href="href") Algoritmos
                      li
                        a(href="href") Casos de uso
                      li
                        a(href="href") UML
              li.dropdown-submenu
                a(href="href") Redes
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(href="href") Telecomúnicaciones
                    ul.dropdown-menu
                      li
                        a(href="href") ADSL
                      li
                        a(href="href") DNS
                      li
                        a(href="href") Firewall
                      li
                        a(href="href") Friba óptica
                      li
                        a(href="href") Router
                      li
                        a(href="href") Señales
                  li.dropdown-submenu
                    a(href="href") Servidores
                    ul.dropdown-menu
                      li
                        a(href="href") Balanceo de Carga
                      li
                        a(href="href") Cloud Hosting
                      li
                        a(href="href") Digital Ocean
                      li
                        a(href="href") LAMP
                  li
                    a(href="href") Switches
                  li
                    a(href="href") Telemática
              li
                a(href="href") Vídeos
          li.dropdown
            a.dropdown-toggle(href="#")
              em.icon-angle-down
            ul.dropdown-menu
              li.dropdown-submenu
                a(href="href") Empresas
                ul.dropdown-menu
                  li
                    a(href="href") Business Intelligence
                  li
                    a(href="href") Business Objects
                  li
                    a(href="href") Errores de las Empresas
                  li
                    a(href="href") ESR
                  li
                    a(href="href") Estrategias
              li.dropdown-submenu
                a(href="href") Empleos
                ul.dropdown-menu
                  li
                    a(href="href") Curriculum Vitae
                  li
                    a(href="href") Entrevistas de Trabajo
                  li
                    a(href="href") Sueldos
                  li
                    a(href="href") Trabajo
              li.dropdown-submenu
                a(href="href") Emprendedores
                ul.dropdown-menu
                  li
                    a(href="href") Éxito en los Negocios
                  li
                    a(href="href") Freelance
                  li
                    a(href="href") Ideas de Negocio
                  li
                    a(href="href") Liderazgo
                  li
                    a(href="href") Motivación
                  li
                    a(href="href") Planeación
                  li
                    a(href="href") Proyectos
                  li
                    a(href="href") Startups
                  li
                    a(href="href") Superación Personal
                  li
                    a(href="href") Visas de Trabajo
              li.dropdown-submenu
                a(href="href") Finanzas
                ul.dropdown-menu
                  li
                    a(href="href") Afore
                  li
                    a(href="href") Ahorro
                  li
                    a(href="href") Contabilidad
                  li
                    a(href="href") Dinero
                  li
                    a(href="href") Economía
                  li
                    a(href="href") Finanzas Personales
                  li
                    a(href="href") Fondos de Inversión
                  li
                    a(href="href") Gastos
                  li
                    a(href="href") Presupuestos
              li.dropdown-submenu
                a(href="href") Marketing
                ul.dropdown-menu
                  li
                    a(href="href") Clientes
                  li
                    a(href="href") Marca
                  li
                    a(href="href") Marketing Político
                  li
                    a(href="href") SEO
                  li
                    a(href="href") Ventas
              li
                a(href="href") Outsourcing
              li.dropdown-submenu
                a(href="href") Social Media
                ul.dropdown-menu
                  li
                    a(href="href") Blogs
                  li
                    a(href="href") Community Manager
                  li
                    a(href="href") Redes Sociales
          li.dropdown
            a.dropdown-toggle(href="#") Portal
              em.icon-angle-down
            ul.dropdown-menu
              li
                a(href="href") Blog
              li
                a(href="href") Códigos
              li
                a(href="href") Cursos
              li
                a(href="href") Eventos
              li
                a(href="href") Marcadores