.span3
  aside.sidebar
    h4
      ul.nav.nav-list.primary.pull-bottom
        li
          a.category-1(href="#") Bases de Datos
          ul#category-1-parent.nav.nav-list.primary.pull-bottom.category-parent-hidden
            li
              a(href="href") Access
            li
              a(href="href") Data Mining
            li
              a(href="href") Data Warehouse
            li
              a.parentCategory(href="href") DB2
            li
              a.subCategory(href="href") DB2 Express-C
            li
              a(href="href") Modelo Relacional
            li
              a(href="href") MySQL
            li
              a.parentCategory(href="href") NoSQL
            li
              a.subCategory(href="href") CassandraDB
            li
              a.subCategory(href="href") CouchDB
            li
              a.subCategory(href="href") MongoDB
            li
              a(href="href") Oracle
            li
              a(href="href") PDO
            li
              a(href="href") PostgreSQL
            li
              a(href="href") SQLite
        li
          a.category-2(href="#") Frameworks
          ul#category-2-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a.parentCategory(href="href") HTML5/CSS3
            li
              a.subCategory(href="href") 960gs
            li
              a.subCategory(href="href") Foundation
            li
              a.subCategory(href="href") Twitter Bootstrap
            li
              a.parentCategory(href="href") Java
            li
              a.subCategory(href="href") Play Framework
            li
              a.subCategory(href="href") Spring Framework
            li
              a.parentCategory(href="href") JavaScript
            li
              a.subCategory(href="href") Angular.js
            li
              a.subCategory(href="href") Backbone.js
            li
              a.subCategory(href="href") CoffeeScript
            li
              a.subCategory(href="href") Ember.js
            li
              a.subCategory(href="href") jQuery
            li
              a.subCategory(href="href") Knockout.js
            li
              a.subCategory(href="href") Node.js
            li
              a.subCategory(href="href") Three.js
            li
              a.parentCategory(href="href") PHP
            li
              a.subCategory(href="href") CakePHP
            li
              a.subCategory(href="href") CodeIgniter
            li
              a.subCategory(href="href") Laravel
            li
              a.subCategory(href="href") Yii
            li
              a.subCategory(href="href") ZanPHP
            li
              a.subCategory(href="href") Zend Framework
            li
              a.parentCategory(href="href") Python
            li
              a.subCategory(href="href") Django
            li
              a.subCategory(href="href") web2py
            li
              a.parentCategory(href="href") Ruby
            li
              a.subCategory(href="href") Ruby on Rails
        li
          a.category-3(href="#")
          ul#category-3-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a.parentCategory(href="href") CSS
            li
              a.subCategory(href="href") CSS3
            li
              a.subCategory(href="href") LessCSS
            li
              a.subCategory(href="href") MoreCss
            li
              a.subCategory(href="href") Responsive Web Design
            li
              a.subCategory(href="href") Stylus
            li
              a.parentCategory(href="href") HTML5
            li
              a.subCategory(href="href") Accesibilidad
            li
              a.subCategory(href="href") Canvas
            li
              a.subCategory(href="href") DOM
            li
              a.subCategory(href="href") Juegos en HTML5
            li
              a.subCategory(href="href") Geolocalización
            li
              a.subCategory(href="href") Retina Display
            li
              a.subCategory(href="href") Usabilidad
            li
              a.parentCategory(href="href") Servicos Web
            li
              a.subCategory(href="href") Ajax
            li
              a.subCategory(href="href") JSon
            li
              a.subCategory(href="href") RESTFul
            li
              a.subCategory(href="href") Soap
            li
              a.subCategory(href="href") XML
            li
              a(href="href") XAML
        li
          a.category-4(href="#") Lenguajes de Programación
          ul#category-4-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a.parentCategory(href="href") .NET
            li
              a.subCategory(href="href") ASP.NET
            li
              a.subCategory(href="href") Visual Basic .NET
            li
              a.subCategory(href="href") Visual C++ .NET
            li
              a(href="href") C/C++
            li
              a.parentCategory(href="href") Dispositivos Móviles
            li
              a.subCategory(href="href") Android
            li
              a.subCategory(href="href") iPad
            li
              a.subCategory(href="href") iPhone
            li
              a.subCategory(href="href") Objective-C
            li
              a.parentCategory(href="href") Java
            li
              a.subCategory(href="href") Groovy
            li
              a.subCategory(href="href") Scala
            li
              a(href="href") JavaScript
            li
              a(href="href") ActionScript
            li
              a(href="href") ASP
            li
              a(href="href") Bash
            li
              a(href="href") C#
            li
              a(href="href") Ensamblador
            li
              a(href="href") PHP
            li
              a(href="href") Python
            li
              a(href="href") Ruby
            li
              a.parentCategory(href="href") SAP
            li
              a.subCategory(href="href") ABAP
            li
              a.subCategory(href="href") BASIS
            li
              a.subCategory(href="href") SAP ALV
        li
          a.category-5(href="#") Seguridad
          ul#category-5-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a(href="href") Auditorías Informáticas
            li
              a(href="href") Privacidad de la Información
            li
              a(href="href") Seguridad Informática
            li
              a.subCategory(href="href") Hackers
            li
              a.subCategory(href="href") Virus
        li
          a.category-6(href="#") Sistemas Operativos
          ul#category-6-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a(href="href") Android
            li
              a(href="href") iOS
            li
              a(href="href") Linux
            li
              a(href="href") Unix
            li
              a(href="href") Windows 8
        li
          a.category-7(href="#") Software
          ul#category-7-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a(href="href") Calidad del Software
            li
              a.subCategory(href="href") Buenas prácticas
            li
              a.subCategory(href="href") Documentación de Código
            li
              a.subCategory(href="href") Estándares de codificación
            li
              a(href="href") CMMI
            li
              a(href="href") ITIL
            li
              a(href="href") QA
            li
              a(href="href") Testing
            li
              a(href="href") Control de Versiones
            li
              a.subCategory(href="href") Git & Github
            li
              a.subCategory(href="href") Mercurial
            li
              a.subCategory(href="href") Perforce
            li
              a.subCategory(href="href") Subversion
            li
              a(href="href") CRM
            li
              a(href="href") Metodologías Ágiles
            li
              a.subCategory(href="href") Programación Extrema (XP)
            li
              a.subCategory(href="href") Scrum
            li
              a(href="href") ERP
            li
              a(href="href") Ingeniería de Software
            li
              a.subCategory(href="href") Algoritmos
            li
              a.subCategory(href="href") Casos de uso
            li
              a.subCategory(href="href") UML
        li
          a.category-8(href="#") Redes
          ul#category-8-parent.nav.nav-list.nav-submenu.primary.pull-bottom.category-parent-hidden
            li
              a(href="href") Telecomúnicaciones
            li
              a.subCategory(href="href") ADSL
            li
              a.subCategory(href="href") DNS
            li
              a.subCategory(href="href") Firewall
            li
              a.subCategory(href="href") Friba óptica
            li
              a.subCategory(href="href") Router
            li
              a.subCategory(href="href") Señales
            li
              a(href="href") Servidores
            li
              a.subCategory(href="href") Balanceo de Carga
            li
              a.subCategory(href="href") Cloud Hosting
            li
              a.subCategory(href="href") Digital Ocean
            li
              a.subCategory(href="href") LAMP
            li
              a(href="href") Switches
            li
              a(href="href") Telemática
      
      hr
      
      .adsBox
      
      .facebookBox
        .fb-like-box(data-href="http://www.facebook.com/codejobs", data-colorscheme="light", data-show-faces="true", data-header="false", data-stream="false", data-show-border="false")
      
      br
      hr
      
      .tabs
        ul.nav.nav-tabs
          li.nav-tab-popular.active
            a(href="#popularPosts", data-toggle="tab")
              i.icon-star
          li.nav-tab-recents
            a(href="#recentPosts", data-toggle="tab")  
        .tab-content
          #popularPosts.tab-pane.active
            ul.simple-post-list
              | RELEVANT POSTS
          #recentPosts.tab-pane
            ul.simple-post-list
              | POPULAR POSTS
      
      hr

      .sponsors
        h3 Patrocinadores
        ul(style="list-style: none; margin: 0px; padding: 0px;")
          | SPONSORS
        hr
        h4 Acerca de Nosotros
        p
          | Codejobs es una comunidad de amantes a la tecnología (desarrolladores, diseñadores, emprendedores, empresas, etc.) que creemos que el conocimiento es la única forma de ser verdaderamente libres y autónomos. Nuestro lema es y seguirá siendo "Comparte el conocimiento".